@import '/src/sass/colors';

.Cheatsheet-page {
    background-color: $background-color;
    width: 100vw;
    height: 100vh;
    flex-direction: row;
    padding-top: 10vh;
    overflow-y: hidden;

    > .languages-container {
        flex: 0.25;
        flex-direction: column;
    }

    > .sheet-container {
        flex: 0.75;
    }

    > hr {
        border: none;
        border-left: solid 5px;
    }
}

@media only screen and (max-width: 600px) {
    .Cheatsheet-page {
        overflow-x: hidden;
    }
}