@import '/src/sass/colors';

.About-page {
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: black;
    padding-top: 10vh;
    align-items: center;
    justify-content: center;
    
    .languages {
        flex-direction: column;
        text-align: justify;
        width: 50%;
        margin-top: -5vw;
        
        span {
            font-weight: bold;
        }

        .contacts {
            flex-direction: column;
            margin-bottom: 2vw;
        }
    }
}

@media only screen and (max-width: 600px) {
    .About-page {

        .languages {
            height: 68vh;
            width: 80%;
            overflow-y: scroll;
            font-size: 3.5vw;
            padding: 0 5vw;
            text-align: start;

            .contacts {
                margin-bottom: 10vw;
            }

            h1 {
                font-size: 5vw;
            }
        }
    }
}