$background-color: #000000;
// $background-color: #071013;
$blue: #3185FC;
$blue-light: lighten($blue, 10%);
$blue-dark: #074583;
$orange: #F26419;
$red: #FD151B;
// $green: #53FF45;
$green: #35FF69;
$yellow: #F8F32B;
$pink: #FF579F;
$violet: #7209B7;
$purple: #7A28CB;
$loading-color: rgba($blue, 0.6);
$panel-color: #063565;
$input-background-color: #fffffff0;
$text-removido: #ce2031;
$text-adicionado: #20ce77;


:export {
    background_color: $background-color;
    loading: $loading-color;
    blue_light: $blue-light;
    blue: $blue;
    red: $red;
    green: $green;
    yellow: $yellow;
    orange: $orange;
    pink: $pink;
    violet: $violet;
    purple: $purple;
    blue_dark: $blue-dark;
    panel: $panel-color;
    input_background_color: $input-background-color;
    text_removido: $text-removido;
    text_adicionado: $text-adicionado;
}