@import '/src/sass/colors';

.LanguageButton-component {
    width: 100%;
    height: 10vh;
    font-size: 32px;
    color: white;
    // font-weight: bold;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.LanguageButton-component:hover {
    cursor: pointer;
    // color: black;
}

@media only screen and (max-width: 600px) {
    .LanguageButton-component {
        font-size: 4vw;
        padding: 0 2vw;
    }
}