@import '/src/sass/colors';

.Project-Component {
    position: relative;
    flex: 0.75;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-y: scroll;
    overflow-x: hidden;

    .title {
        width: 100%;
        align-items: center;

        .icons {
            gap: 1vw;
            margin-right: 3vw;

            svg {
                width: 3.5vw;
            }
        }
    }

    .description {
        position: absolute;
        width: 25vw;
        background-color: black;
        right: -30vw;
        height: 30vw;
        top: 7.6vw;
        padding: 2vw;
        text-align: center;
        align-items: center;
        transition: 1s;
        overflow-y: scroll;
    }

    .web-project {
        flex-direction: column;
    }
}

.ProjectInfo-Component {

}