@import '/src/sass/colors';

.ProjectsHeader-Component {
    height: 5vw;
    width: 100%;

    .header-button {
        align-items: center;
        justify-content: center;
        cursor: pointer;
        font-size: 2vw;
        flex: 1;
    }
}