@import '/src/sass/colors';

.ProgrammingIcons-Component {
    position: absolute;
    gap: 3vw;
    bottom: 0;
    margin-bottom: 2vw;

    > .icon {
        fill: $blue;
        width: 5vw;
    }

    > .icon:hover {
        fill: $yellow;
    }
}