@import '/src/sass/colors';

.Home-page {
    background-color: $background-color;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    > .title-container {
        background-color: $blue;
        padding: 0.5vw 1vw 0;
        justify-content: center;
        align-items: center;
        > p {
            font-size: 7vw;
            color: black;
        }
    }

    > hr {
        width: 63vw;
        border-color: $blue;
    }

    > .icons-container {
        position: absolute;
        gap: 3vw;
        bottom: 0;
        margin-bottom: 2vw;

        > .icon {
            fill: $blue;
        }

        > .icon:hover {
            fill: $yellow;
        }
    }
}

@media only screen and (max-width: 600px) {
    .Home-page {

        > .icons-container {

            display: none;
        }
    }
}