@import '/src/sass/colors';

$title: 28px;
$description: 18px;

.LanguageSheet-component {
    flex-direction: column;
    overflow-y: auto;
    // margin-left: 2vw;
    // padding-right: 2vw;
    width: 100%;

    > .add-cheat-container {
        width: 100%;
        justify-content: center;
        align-items: center;
        margin-top: 1vw;
        
        .add-cheat-icon {
            cursor: pointer;
        }

        .input-wrapper {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 1vw;

            .input-container{
                gap: 0.5vw;
                flex-direction: column;
    
                label {
                    font-size: $title;
                }
                input {
                    font-size: $title;
                    border-radius: 0.5vw;
                    padding: 0.1vw 0.8vw;
                    border: none;
                }
                input:focus {
                    outline: solid 5px;
                }
            }
        }

        .check-icon-container {
            align-items: center;
            justify-content: center;
            cursor: pointer;
            gap: 2vw;
        }


    }
}

.Cheat-component {
    flex-direction: column;
    padding: 1vw 2vw 0;
    gap: 1vw;
    cursor: pointer;

    > .cheat-title {
        font-size: $title;

        > span {
            transition-property: opacity;
            transition-duration: 0.5s;
            margin-left: 1vw;
        }
    }
    
    > .cheat-description {
        margin-left: 3vw;
        font-size: $description;
        cursor: text;
    }

    > hr {
        width: 100%;
        border: none;
        border-bottom: 1px solid
    }
}