@import '/src/sass/colors';

.HeaderButton-component {
    align-items: center;
    padding: 0 2.5vw;
    height: 100%;
    color: white;
    font-size: 32px;
}

.HeaderButton-component:hover {
    cursor: pointer;
    // background-color: $blue;
    // color: black
}