@import '/src/sass/colors';

.Header-component {
    position: absolute;
    left: 0;
    top: 0;
    align-items: center;
    width: 100vw;
    height: 10vh;

    .home-icon {
        margin-left: 1vw;
    }
    .header-buttons {
        width: 100%;
        height: 100%;
        justify-content: center;
    }
    .github-icon {
        margin-right: 1vw;
    }

    > .icon:hover {
        cursor: pointer;
    }
}

@media only screen and (max-width: 600px) {
    .Header-component {

        .home-icon {
            padding-left: 2vw;
            // position: absolute;
            // left: 1vw;
            // top: 89vh;
        }
        
        .github-icon {
            padding-right: 2vw;
            // position: absolute;
            // right: 1vw;
            // top: 89vh;

        }

        svg {
            width: 10vw;
        }

        .header-buttons {
            width: 100%;
            height: 100%;
            justify-content: space-evenly;
        }
    }
}