@import '/src/sass/colors';

.Header-component {
    position: absolute;
    left: 0;
    top: 0;
    align-items: center;
    width: 100vw;
    height: 10vh;

    .home-icon {
        margin-left: 1vw;
    }
    .header-buttons {
        width: 100%;
        height: 100%;
        justify-content: center;
    }
    .github-icon {
        margin-right: 1vw;
    }

    > .icon:hover {
        cursor: pointer;
    }
}

@media only screen and (max-width: 600px) {
    .Header-component {

        .home-icon {
            margin-top: 180vh;
        }
        .github-icon {
            margin-top: 178vh;
        }

        .header-buttons {
            width: 60%;
            height: 100%;
            justify-content: space-evenly;
            gap: 2vw;
        }
    }
}