@import '/src/sass/colors';

.Projects-page {
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: black;
    padding-top: 10vh;

    hr {
        border-bottom: none;
    }

    .projects-container {
        width: 100%;
        height: 100%;

        hr {
            border-right: none;
            border-top: none;
            border-bottom: none;
        }

        .project-container {
            flex: 0.8;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }
}

@media only screen and (max-width: 600px) {
    .Projects-page {
        text-align: center;
        font-size: 3vw;
        padding: 5vw;
    }
}