@import '/src/sass/colors';

.Projects-page {
    width: 100vw;
    height: 100vh;
    background-color: black;
    padding-top: 10vh;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 600px) {
    .Projects-page {
        text-align: center;
        font-size: 3vw;
        padding: 5vw;
    }
}