@import '/src/sass/colors';

.ProjectsList-Component {
    height: 100%;
    flex: 0.25;
    flex-direction: column;

    .project-button {
        height: 3vw;
        width: 100%;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        border: none;
    }
}

@media only screen and (max-width: 600px) {
    .ProjectsList-Component {
        .project-button {
            min-height: 7vw;
            height: fit-content;
            font-size: 3vw;
            white-space: normal;
            width: 25vw;
            text-align: center;
            padding: 2vw 0;
        }
    }
}